*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: inline;
}



.fContainer {
    display: flex;
    justify-content: top;
    align-items: top;
   
}

.wrapper {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 1500px;
    height: 50px;
    background-color: black;
    box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname{
    color: whitesmoke;
    font-weight: 700;
    font-size: 300;
}

.firstname:hover{
    color: #CC6600;
    transform: rotate(3deg);
}

.lastname {
    color: #CC6600;
    font-weight: 400;
    padding-left: 4px;
    font-size: 300;
}

.lastname:hover{
    color: #CC6600;
    transform: rotate(3deg);
}

.navigation {
    display: flex;
    justify-content:center ;
    align-items: center;

}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    color: #CC6600;
    transition: all .5s ease-in-out;
}
.active {
    background-color: #CC6600 ;
    height: 60;
    color: whitesmoke;
    padding: 15px;
}

.active:hover{
    color: navy!important;
}

.navigation>li>img{
    width: 50px;
    height: 40px;
    border-radius: 50px;
}

.navigation>li>img:hover{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
h1{
    color:black;
    text-align: center;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
    align-items: center;
    grid-gap: 100px;
}
img{
    object-fit: contain;
}
.grid > article{
    box-shadow: 2px 5px 5px 1px black;
    border-radius: 50px;
    text-align: center;
    background-color: whitesmoke;
    width: 300px;
    transition: transform;
}
.grid > article img{
    align-items: center;
    justify-content: center;
}
.konten{
    cursor: cell;
}
.grid > article:hover{
    transform: scale(1.2);
}
@media (max-width:1000px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    .grid{
    grid-template-columns: repeat(1.1fr);
    width: ;
    

    }
   
    
}