*,html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    scroll-behavior: smooth;
    
}

header{
    display: inline;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    
}



.fContainer {
    display: flex;
    justify-content: top;
    align-items: top;
   
}

.wrapper {
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
    
    
}

.firstname{
    color: whitesmoke;
    font-weight: 700;
    font-size: medium;
    font-family: 'pacifico',cursive;
    cursor: pointer;
    transition: all .5s ease 0s;
    
    
}

.firstname:hover{
    color: #CC6600;
    transform: rotate(3deg);
    
}

.lastname {
    color: #CC6600;
    font-weight: 400;
    font-family: 'pacifico',cursive;
    cursor: pointer;
    padding-left: 4px;
    font-size: medium;
    transition: all .5s ease 0s;
    
   
}

.lastname:hover{
    transform: rotate(3deg);
   
}

.navigation {
    display: flex;
    justify-content:center ;
    align-items: center;

}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    transition: all .5s ease 0s;

    
}

.navigation > li > a {
    display: inline-block;
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s ease 0s;
}

.navigation>li>a:hover{
    color: #CC6600;
    transform: rotate(3deg);
    
}
.active {
    background-color: #CC6600 ;
    height: 60;
    color: whitesmoke;
    padding: 15px;
}

.active:hover{
    color: black!important;
}

.navigation>li>img{
    width: 50px;
    height: 40px;
    border-radius: 50px;
}

.navigation>li>img:hover{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.description{
    font-size: 28px;
    font-weight: bolder;
}

.img-foto{
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
    

}

.parallax{
    background-image: url('Image/y740s2.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.tentang{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #CC6600;
   color: #eaeaea;
   padding: 40px;


}



.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}


.card-item{
    text-align: center;
    width: 25%;
    background: black;
    color: whitesmoke;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);

}

.icon{
    width: 75px;
    margin: 10px;
    width: 75px;
    height: 75px;

}

.card-title{
    font-size: 18px;
    font-weight: bolder;
}
.card-description{
    font-size: 14px;
    margin-top: 4px;
}

.team{
    text-align: center;
}
.grid {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
   justify-content: center;
    grid-gap: 30px;
}

img{
    object-fit: cover;
    
}
.grid > article{
    color: #eaeaea;
    box-shadow: 2px 5px 5px 1px black;
    border-radius: 50px;
    text-align: center;
    background-color: black;
    
    transition: transform;
}
.grid > article img{
    
    align-items: center;
	justify-content: center;
    
    border-radius:  50%;
}
.main{
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	align-items: center;
	justify-content: center;
    background-image: url('Image/hmm.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

}


.about-text h2{
	color: black;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 20px;
    justify-content: center;
}
.about-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
    justify-content: center;
    align-items: center;
}
.about-text p{
	color: #CC6600;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
    justify-content: center;
    align-items: center;
}
footer{
	position: relative;
	width: 100%;
	height: 300px;
	background: #CC6600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
footer p:nth-child(3){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: white;
	bottom: 35px;
	font-size: 14px; 

}
@media screen and (max-width:500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }
    .card-item {
        width: 100%;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .intro{
        margin-top: 20px;

    }
    .img-foto{
        padding:0;
    }
}